body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 20%); /* softer on the eyes */
}

#root {
  width: 100%;
  max-width: 1900px;
  min-height: 100vh;
  margin: 0 auto;
  min-height: 100hv;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main {
  display: flex;
  width: 100%;
  /* background-color: grey; */
}

.map {
  flex: 3;
  background-color: lightblue;
  border: 1px solid grey;
}

.sidebar {
  flex: 1;
  background-color: lightgray;
  border: 1px solid grey;
}

/* für kleinere Bildschirme */
@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-left: none;
  }

  .map {
    min-height: 50vh;
  }
}
