footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: lightcyan;
  box-sizing: border-box;
  width: 100%;
  max-width: 1900px;
  border: 1px solid grey;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

h3 {
  margin:0;
}

h4 {
  margin-bottom: 5px;
}

.info-box{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.info-text{
  width: 300px;
}
.slider-box{
  margin-top: 10px;  
  display: flex;
  align-items: center;
}
.slider {width: 99%;}