footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: lightcyan;
  box-sizing: border-box;
  width: 100%;
  max-width: 1900px;
  border: 1px solid grey;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

h3 {
  margin:0;
}

.slider-box{
  margin-top: 30px; 
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.slider-box button {
  margin-top: -6px;
  margin-right: 10px;
}

.slider {
  width: 99%;
  position: relative;
}

.datum{
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}