footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: lightcyan;
  box-sizing: border-box;
  width: 100%;
  max-width: 1900px;
  border: 1px solid grey;
}

.footer-content {
  width: 100%;
  text-align: left;
}

.slider-box{
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider {width: 99%;}