body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.layout {
  display: grid;
  grid-template-columns: 400px 1fr;
  min-height: 100vh;
}

.sidebar {
  padding: 40px;
  border-right: 1px solid #ddd;
}

.content {
  max-width: 900px;
  padding: 40px 60px;
  color: #666;
  line-height: 1.6;
}

.site-title {
  font-size: 26px;
  margin: 25px 0;
}

.site-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.site-nav-link,
.github-link {
  color: #267cb9;
  text-decoration: none;
}

.nav-group {
  margin-bottom: 18px;
}

.nav-group-title {
  display: block;
  /* font-weight: 700; */
  margin-bottom: 10px;
  color: #267cb9;
  text-decoration: none;
}

.nav-submenu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 14px;
}

.content img {
  max-width: 800px;
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

.content ul {
  padding-left: 24px;
}

.content li {
  margin-bottom: 8px;
}

.content li p {
  margin: 2px 0;
}