header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  background: lightcyan;
  /*background: rgba(184, 237, 124, 0.7);*/
  box-sizing: border-box;
  width: 100%;
  max-width: 10000px;
  border-bottom: 1px solid grey;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.buttons {
  margin-left:auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.titel{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 150px;
  align-items: center;
}

.thema{
  display: flex;
  margin-left: 10px;
  gap: 5px;
}

.thema .MuiButton-root {
  color: black;
  border: none;
  font-family: Arial;
  font-size: 18px;
  /*font-weight: bold;*/
  text-transform: none;
}

.thema .MuiButton-root.active {
  background-color: rgb(128, 195, 65); /* Dunkel: rgb(99. 158, 49) , Mittel: rgb(128, 195, 65), hell: rgb(184, 237, 124)*/
  color:black;
}